<% content_for :page_script do %>
  <%= javascript_include_tag "dashboard/index" %>
<% end %>
<div class="row">

  <div class="col-md-4">
    <div class="main-box">
      <h2>Storage Used</h2>
      <%= content_tag :svg, '', width: '97%', height: '250', id: "storage-used", 
        data: { percent: @percent_resource_usage[2] } %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="main-box">
      <h2>Forms Used</h2>
      <%= content_tag :svg, '', width: '97%', height: '250', id: "forms-used", 
        data: { percent: @percent_resource_usage[0] } %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="main-box">
      <h2>Requests Used</h2>
      <%= content_tag :svg, '', width: '97%', height: '250', id: "requests-used", 
        data: { percent: @percent_resource_usage[1] } %>
    </div>
  </div>

  <div class="col-md-12">
    <div class="main-box">
      <h2>Request & Quote Statistic</h2>
      <%= content_tag :div, 'Total quote viewed: ' + @stat[:viewed].to_s, class: 'total-viewed green pull-right' %>
      <%= content_tag :div, '', id: 'chart', data: @stat %>
    </div>
  </div>
</div>
