<% content_for :page_script do %>
  <%= javascript_include_tag "dashboard/index" %>
<% end %>
<div class="row">

  <div class="col-md-4">
    <div class="main-box">
      <h2>Storage Used</h2>
      <%= content_tag :svg, '', width: '97%', height: '250', id: "storage-used", 
        data: { used: @storage_used, percent: @percent_storage_used } %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="main-box">
      <h2>Forms Used</h2>
      <%= content_tag :svg, '', width: '97%', height: '250', id: "forms-used", 
        data: { used: @forms_used, percent: @percent_forms_used } %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="main-box">
      <h2>Requests Used</h2>
      <%= content_tag :svg, '', width: '97%', height: '250', id: "requests-used", 
        data: { used: @requests_used, percent: @percent_requests_used } %>
    </div>
  </div>

  <div class="col-md-12">
    <div class="main-box">
      <h2>Request & Quote Statistic</h2>
      <%= content_tag :div, '', id: 'chart', data: @stat %>
    </div>
  </div>
</div>
