<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= params['request_id'] ? (f.hidden_field :request_id, value: params['request_id']) : (f.hidden_field :request_id) %>

  <div class="row">

    <div class="form-group col-md-6">
      <%= f.label :expires_at, "Expiration Date" %>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-calendar"></i>  
          <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar"></i>
        </span>
        <%= f.text_field :expires_at, data: {"date-format" => "YYYY/MM/DD hh:mm:ss"}, class: "form-control", placeholder: "Expiration Date" %>
      </div>
      <span class="help-block">Format yy-mm-dd hh-mm-ss</span>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :amount, "Base Amount" %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :amount, class: "form-control", placeholder: "Base Amount" %>
        <span class="input-group-addon">.00</span>
      </div>
      <span class="help-block">In US Dollars</span>
    </div>
    
    <div class="form-group col-md-6">
      <%= f.label :template_id, "Quote Template" %>
      <%= f.collection_select :template_id, @templates, :id, :name, { include_blank: true }, { class: "form-control" } %>
      <span class="help-block">Choose which template to design quote.</span>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :description, "Quote Details" %>
      <%= f.text_area :description, class: "form-control", placeholder: "Add base quotation details here" %>
      <span class="help-block">For additional items not covered in base quote, add options.</span>
    </div>

  </div>

  <% if @quote.options? %>
    <% @quote.options.each do |id, option| %>
      <%= f.fields_for :options, OpenStruct.new(option), index: id do |builder| %>
        <%= render 'options', f: builder %>
      <% end %>
    <% end %>
  <% end %>

  <div class="quote-option-field"></div>

  <%= link_to_add_quote_options "Add Options", f, :options %>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>

<% end %>
