<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :request_id, value: params['request_id'] %>

  <div class="row">

    <div class="form-group col-md-6">
      <%= f.label :expires_at, "Expiration Date" %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <%= f.text_field :expires_at, class: "form-control", placeholder: "Expiration Date" %>
      </div>
      <span class="help-block">format yy-mm-dd</span>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :amount, "Base Amount" %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :amount, class: "form-control", placeholder: "Base Amount" %>
        <span class="input-group-addon">.00</span>
      </div>
      <span class="help-block">In US Dollars</span>
    </div>

  </div>

  <div class="well">
    <div id="datetimepicker1" class="input-append date">
      <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
      <span class="add-on">
        <i data-time-icon="fa fa-clock" data-date-icon="fa fa-calendar">
        </i>
      </span>
    </div>
  </div>
  
  <div class="term-field"></div>

  <%= link_to_add_terms "Add Terms", f, :terms %>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>

<% end %>
