<div class="quote-option-field row height-100">
  <div class="form-group col-md-6 col-sm-6">
    <%= f.label :description, "Description" %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
      <%= f.text_field :description, class: "form-control", placeholder: "Item Descirption" %>
    </div>
    <span class="help-block">Brief Description</span>
  </div>
  <div class="form-group col-md-5 col-sm-5">
    <%= f.label :amount, "Item Amount" %>
    <%= f.text_field :amount, class: "form-control", placeholder: "Item Amount" %>
  </div>
  <div class="col-md-1 col-sm-1 height-full">
    <div class="top-31">
      <%= link_to '#', class: 'remove_quote_options' do %>
        <%= content_tag(:i, "", class: "fa fa-minus-circle") %>
      <% end %>
    </div>
  </div>
</div>