<% content_for :page_script do %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="main-box clearfix">
      <div class="clearfix">
        <h2 class="pull-left">Quote Analytics Detail</h2>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><a href="#"><span>Visitor</span></a></th>
              <th class="text-center"><span>IP</span></th>
              <th class="text-center"><span>Device Type</span></th>
              <th class="text-center"><span>Browser</span></th>
              <th class="text-center"><span>OS</span></th>
              <th class="text-center"><span>Country</span></th>
              <th class="text-center"><span>City</span></th>
              <th class="text-center"><span>Screen Height</span></th>
              <th class="text-center"><span>Screen Width</span></th>
              <th class="text-center"><span>View Time</span></th>
            </tr>
          </thead>
          <tbody>
          <% @visitors.each do |v| %>
            <tr>
            <td>
              <%= v.id %>
            </td>
            <td class="text-center">
              <%= v.ip %>
            </td>
            <td class="text-center">
              <%= v.device_type %>
            </td>
            <td class="text-center">
              <%= v.browser %>
            </td>
            <td class="text-center">
              <%= v.os %>
            </td>
            <td class="text-center">
              <%= v.country || '' %>
            </td>
            <td class="text-center">
              <%= v.city || ''%>
            </td>
            <td class="text-center">
              <%= v.screen_height %>
            </td>
            <td class="text-center">
              <%= v.screen_width %>
            </td>
            <td class="text-center">
              <%= v.started_at.strftime("%b-%d-%Y") %>
            </td>
          </tr>
        <% end %>
          </tbody>
        </table>
      </div>

      <%= paginate @visitors, :pagination_class => "pull-right"%>
    </div>
  </div>
</div>
