<% content_for :page_script do %>
  <%= javascript_include_tag "quotes" %>
<% end %>

<div class="main-box clearfix">
  <div class="clearfix">
    <h2 class="pull-left">Quotes</h2>

    <div class="filter-block pull-right">
      <div class="form-group pull-left">
        <input type="text" class="form-control" placeholder="Search...">
        <i class="fa fa-search search-icon"></i>
      </div>
      <% if can? :create, Quote %>
        <%= link_to new_quote_path, class: "btn btn-primary pull-right" do %>
          <i class="fa fa-plus-circle fa-lg"></i> New Quote
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><a href="#"><span>Amount</span></a></th>
          <th><span>Options</span></th>
          <th><span>Template</span></th>
          <th class="text-center"><span>Note</span></th>
          <th><span>Expiration</span></th>
          <th><span>Request</span></th>
          <th><span>Signature</span></th>
          <th><span>Status</span></th>
          <th class="text-center"><a href="#" class="desc"><span>Date updated</span></a></th> <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @quotes.each do |quote| %>
        <tr>
          <td><%= quote.amount %></td>
          <td>
          <% if quote.options.present? %>
            <% quote.options.each do |id, option| %>
              <%= option['amount'] %>: <%= option['description'] %><br>
            <% end %>
          <% end %>
          </td>
          <td>
            <% if quote.template.nil? %>
              Default template
            <% else %>
              <%= quote.template.try(:name) %>
            <% end %>
          </td>
          <td class="text-center">
            <%= content_tag :strong, quote.note.try(:title) %>
            <%= content_tag :span, quote.note.try(:content) %>
          </td>
          <td>
            <%= quote.expires_at.strftime("%b-%d-%Y") %><br>
            <%= quote.expires_at.strftime("%l:%M %P %Z") %>
          </td>
          <td>
            <% if quote.request.present? %>
              <% quote.request.fields.each do |id, request| %>
                <%= request['label'] %>: <%= request['request'] %><br>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if quote.signature.nil? %>
              <label>Not signed yet!</label>
            <% else %>
              <%= image_tag "data:image/svg+xml;base64,#{quote.signature}" %> 
            <% end %>
          </td>
          <td class="text-center">
            <%= quote.current_state.capitalize %>
          </td>
          <td class="text-center">
            <%= quote.updated_at.strftime("%b-%d-%Y") %>
          </td>
          <td style="width: 15%;">
            <%= link_to quote, title: "Show Quote", class: "table-link" do %>
              <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
            <% if can? :update, quote %>
              <%= link_to edit_quote_path(quote), title: "Edit Quote", class: "table-link" do %>
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
              <% end %>
            <% end %>
            <%= link_to quotes_path(quote_id: quote.id), title: "Quotes", class: "table-link" do %>
              <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-reply fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>                
            <% if can? :update, quote %>
              <%= render partial: 'notes/note_button', locals: { notable: quote } %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @quotes, :pagination_class => "pull-right"%>
</div>

<%= render partial: 'notes/modal', locals: { notable: @quotes.first || Quote.new } %>
