<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @quote.amount %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @quote.terms %>
</p>

<p>
  <strong>Token:</strong>
  <%= @quote.token %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @quote.expires_at %>
</p>

<p>
  <strong>Request:</strong>
  <%= @quote.request %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
