<% content_for :page_script do %>
  <%= javascript_include_tag "quotes" %>
<% end %>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-box">
      <h2>Quote</h2>
      <p>
      <strong>Amount:</strong>
      <%= @quote.amount %>
      </p>

      <p>
      <strong>Description:</strong>
      <%= @quote.description %>
      </p>

      <p>
      <strong>Quote template:</strong>
      <% if @quote.template.nil? %>
        Default template
      <% else %>
        <%= @quote.template.name %>
      <% end %>
      </p>

      <p>
        <strong>Options:</strong>
        <% if @quote.options.present? %>
          <% @quote.options.each do |id, option| %>
            <p>Description: <%= option['description'] %><br>
          Amount: <%= option['amount'] %></p>
          <% end %>
        <% end %>
      </p>

      <p>
      <strong>Token:</strong>
      <%= @quote.token %>
      </p>

      <p>
      <strong>Expires at:</strong>
      <%= @quote.expires_at %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @quote.status %>
      </p>
 
      <p>
        <strong>Customer signature:</strong>
        <% if @quote.signature.nil? %>
          <label>Not signed yet!</label>
        <% else %>
            <%= image_tag "data:image/svg+xml;base64,#{@quote.signature}" %> 
        <% end %>
      </p>
    </div>
  </div>  

  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-box">
      <h2>Quote Analytics</h2>
      <p>
        Unique visitors: <strong><%= @quote.visitors.size %></strong>
        <%= link_to ' (more detail)', quote_analytics_path(@quote) %>
      </p> 
      <p>Number quotation email sent: <strong><%= @quote.email_sent %></strong></p>
      <p>Number quotation email opened: <strong><%= @quote.email_opened %></strong></p>
    </div>
  </div>  

</div>

<div class='row'>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-box">
      <h2>Send quotes to your customers</h2>

      <%= form_tag quote_send_path(@quote), method: :post, :novalidate => true do %>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" data-role="tagsinput" id="email" name="email[addresses]" placeholder="Enter customers' email">
        </div>

        <div class='form-group'>
          <label for="message">Message</label>
          <textarea id='send-quote' class="form-control full" name="email[content]" placeholder="Please send us a detailed message"></textarea>
        </div>

        <div class='form-group'>
          <%= submit_tag 'Send Quote', class: 'btn btn-success', id: 'send-quotation', :'data-id' => @quote.id %>
          <%= button_tag 'Insert Quote Link To Message', 
            id: 'insert-quote-link', class: 'btn btn-primary', 
            :'data-quote' => public_quote_path(@quote, :token => @quote.token) %>
          <% unless @quote.request.try(:contact).nil? %>
            <%= button_tag 'Add Email Address From Your Request', id: 'request-email', 
              class: 'btn btn-primary', :'data-request' => @quote.request.contact.email %>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-box">
      <h2>Send quote guide</h2>
      <p>
        - You can use liquid template to write thank you message.
      </p>
      <p>
        - You can use 'quote' variable to access to your quote. 
      </p>
      <p class='more-info'>
        <span>
          Never heard about liquid template? Please go to
        </span>
        <a href='http://liquidmarkup.org' target='_blank'>this link</a> 
        <span>.</span>
      </p>

    </div>
  </div>
</div>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %> 
