<% content_for :page_script do %>
  <%= javascript_include_tag "application" %>
<% end %>

<div class="main-box clearfix">
  <div class="clearfix">
    <h2 class="pull-left">Notifications</h2>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Subject</th>
          <th>Body</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @notifications.each do |notification| %>
        <tr>
          <%= content_tag :td, notification.id %>
          <%= content_tag :td, notification.messages[0].subject %>
          <%= content_tag :td, notification.messages[0].body %>
          <%= content_tag :td, notification.messages[0].created_at %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @notifications, :pagination_class => "pull-right"%>
</div>
