<% content_for :page_script do %>
  <%= javascript_include_tag "users" %>
<% end %>

<div class="col-lg-12">

  <div class="clearfix">
    <h1 class="pull-left">Users</h1>

    <div class="pull-right top-page-ui">
      <% if can? :create, User %>
        <%= link_to new_user_path, class: "btn btn-primary pull-right" do %>
          <i class="fa fa-plus-circle fa-lg"></i> Add user
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span>User</span></th>
                <th><span>Created</span></th>
                <th class="text-center"><span>Last Sign In</span></th>
                <th><span>Email</span></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
              <td>
                <%= image_tag user.load_image(:avatar, 'no-avatar.jpg') %>
                <%= link_to user.fullname, user_path(user), class: "user-link" %>
                <%= content_tag :span, user.role.capitalize, class: 'user-subhead' %>
              </td>
              <td>
                <%= user.created_at.strftime("%b-%d-%Y") %>
              </td>
              <td class="text-center">
                <span class="label label-default"><%= user.last_sign_in_at.present? ? user.last_sign_in_at.strftime("%b-%d-%Y") : "Not Signed In Yet" %></span>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td style="width: 20%;">
                <%= link_to user_path(user), class: "table-link" do %>
                  <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                </span>
              <% end %>
                <% if can? :update, user %>
                  <%= link_to edit_user_path(user), class: "table-link" do %>
                    <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
              <% end %>
                <% if can? :delete, user %>
                  <%= link_to user_path(user), :method => 'delete', :data => { :confirm => 'Are you sure?' }, class: "table-link" do %>
                    <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
              <% end %>
              </td>
            </tr>
          <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>


</div>
