<% content_for :page_script do %>
  <%= javascript_include_tag "users" %>
<% end %>

<div class="row" id="user-profile">
  <%= form_for(@user, :html => { :class => 'form-inline' }) do |f| %>
    <div class="col-lg-3 col-md-4 col-sm-4">
      <div class="main-box clearfix">
        <h2><%= @user.fullname %></h2>

        <div class='avatar'>
          <%= image_tag @user.load_image(:avatar, 'no-avatar.jpg'), class: "profile-img img-responsive center-block", size: "169" %>

          <div class="wrapper hidden">
            <%= f.fields_for :avatar do |fa|%>
              <%= fa.file_field :image, :class => 'form-control' %>
            <% end %>
          </div>
        </div>

        <%= content_tag :div, @user.role.capitalize, class: 'profile-label' %>

        <%= content_tag :div, "Member since: #{@user.created_at.strftime('%m %Y')}", class: 'profile-since' %>

        <div class="profile-details">
          <ul class="fa-ul">
            <li>
              <i class="fa-li fa fa-edit"></i>
              Forms: <%= content_tag :span, @no_forms %>
            </li>
            <li>
              <i class="fa-li fa fa-question-circle"></i>
              Requests: <%= content_tag :span, @no_requests %>
            </li>
            <li>
              <i class="fa-li fa fa-comments"></i>
              Quotes: <%= content_tag :span, @no_quotes %>
            </li>
            <li>
              <i class="fa-li fa fa-users"></i>
              Contacts: <%= content_tag :span, @no_contacts %>
            </li>

          </ul>
        </div>

      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-8 detail-profile">
      <div class="main-box clearfix">
        <div class="profile-header">
          <%= f.button :class => "btn btn-primary update-profile hidden" do %>
            <i class="fa fa-pencil-square fa-lg"></i> 
            Update my profile
          <% end %>
          <% if can? :update, @user %>
            <a href="#" class="btn btn-primary edit-profile">
              <i class="fa fa-pencil-square fa-lg"></i> 
              Edit profile
            </a>
          <% end %>
        </div>

        <h3><span>User Details</span></h3>

        <div class="row profile-user-info">
          <div class="col-sm-8">
            <div class="profile-user-details clearfix">
              <div class="profile-user-details-label">
                Email 
              </div>
              <%= content_tag :div, @user.email || '&nbsp;'.html_safe, :class => 'profile-user-details-value' %>
            </div>
            <div class="profile-user-details clearfix">
              <div class="profile-user-details-label">
                Company name 
              </div>
              <%= content_tag :div, @user.account.company_name || '&nbsp;'.html_safe, :class => 'profile-user-details-value' %>
            </div>
            <div class="profile-user-details clearfix">
              <div class="profile-user-details-label">
                First name
              </div>
              <%= f.label 'First name', :class => 'hidden' %>  
              <%= f.text_field :firstname, :class => 'form-control hidden' %>
              <%= content_tag :div, @user.firstname || '&nbsp;'.html_safe, :class => 'profile-user-details-value' %>
            </div>
            <div class="profile-user-details clearfix">
              <div class="profile-user-details-label">
                Last name
              </div>
              <%= f.label 'Last Name', :class => 'hidden' %>  
              <%= f.text_field :lastname, :class => 'form-control hidden' %>
              <%= content_tag :div, @user.lastname || '&nbsp;'.html_safe, :class => 'profile-user-details-value' %>
            </div>
            <div class="profile-user-details clearfix">
              <div class="profile-user-details-label">
                Currency 
              </div>
              <%= content_tag :div, @user.account.currency || '&nbsp;'.html_safe, :class => 'profile-user-details-value' %>
            </div>
            <div class="profile-user-details clearfix">
              <% if @google_connected.count > 0 %>
                <div class="profile-user-details-label">
                  Google account
                </div>
                <div class="profile-user-details-value">
                  <%= @google_connected[0].social_name %>
                </div>
              <% else %>
                <%= link_to 'Connect to Google', user_omniauth_authorize_path(provider: 'google_oauth2') %>
              <% end %> 
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
