<% content_for :page_script do %>
  <%= javascript_include_tag "welcome" %>
<% end %>

<!-- Header Wrap -->
<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1><b>Quote Manager</b></h1>
        <h3>Manage Your Quotes. Get Paid.</h3>
        <br>
      </div>
      
      <div class="col-md-2 hidden-xs hidden-sm">
        <h5>Automate Sales</h5>
        <p>Manage your quotation process from start to finish.</p>
        <img src="assets/arrow-left.png" alt="">
      </div>
      <div class="col-md-8">
        <img class="img-responsive" src="assets/app-bg.png" alt="">
        <!--<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
        <a href="#features" type="submit" class="btn btn-lg btn-theme smoothScroll">LEARN MORE</a>-->
      </div>
      <div class="col-md-2 hidden-xs hidden-sm">
        <br>
        <img class="pad-top" src="assets/arrow-right.png" alt="">
        <h5>Keep Track</h5>
        <p>Never miss an opportunity by measuring your strategies.</p>
      </div>
    </div>
  </div> <!-- /container -->
</div><!-- /headerwrap -->


<!-- Intro Wrap -->
<div id="intro">
  <div class="container">
    <div class="row text-center">
      <h2>Three Simple Steps</h2>
      <hr>
      <br>
      <br>
      <div class="col-sm-4">
        <licon class="li_note"></licon>
        <h3>Build Your Forms</h3>
        <p>Be amazed by our easy to use form builder and add those forms to your site.</p>
      </div>
      <div class="col-sm-4">
        <licon class="li_tag"></licon>
        <h3>Quote Requests</h3>
        <p>Create quotes based on requests from your custom forms via a template.</p>
      </div>
      <div class="col-sm-4">
        <licon class="li_banknote"></licon>
        <h3>Get Paid</h3>
        <p>Choose options to get paid with credit, bank transfer, or bitcoin. Or get a signature.</p>
      </div>
    </div>
    <br>
  </div> <!-- /container -->
</div><!-- /introwrap -->


<!-- Features Wrap -->
<section id="features" name="features"></section>
<div id="featureswrap">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Features</h2>
      <hr>
      <br>
      <br>
      <div class="col-sm-6">
        <img class="img-responsive" src="assets/tablet1.png" alt="" style="display: block;margin-left: auto;margin-right: auto;">
      </div>
      
      <div class="col-sm-6">
        <br>
        <!-- Accordion -->
        <div class="accordion ac" id="accordion2">
          <div class="accordion-group active">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <i class="fa fa-cloud"></i> Collaborate in the cloud
              </a>
            </div><!-- /accordion-heading -->
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
              <p>Don't let a lead slip away from a lack of communication between team members. Track a lead from start to finish with information on which team member responded with a quote or email along with notes for each conversation that took place.</p>
              </div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
          <br>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <i class="fa fa-mail-forward"></i> Get started fast
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
              <p>Build a form in minutes and integrate with popular platforms to trigger the form at the moment the user is most willing to submit an inquiry. All the requests come into our system for further parsing so you don't have to waste time manually inputting all your leads and pipeline into a clunky excel spreadsheet.</p>
              </div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
          <br>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              <i class="fa fa-dashboard"></i> Automate business processes
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
              <p>The less time your spend juggling sales leads, the more time you have for closing the deal. Don't get caught up in the minutiae of the who what and when. All of those details are stored for your reference at a click of the mouse or the swipe of a finger.</p>
              </div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
          <br>
          
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              <i class="fa fa-bar-chart-o"></i> Deliver real time insights
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
              <p>The more information you have, the more likely you are to close the deal. We make it convenient for you to know where your leads came from, how interested they might be in your products and services, and to what extent they've viewed your quote.</p>
              </div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
          <br>      
        </div><!-- /accordion -->
      </div>
    </div><!-- /row -->
    <br><br><br>

  </div><!-- /container -->
</div><!-- /featureswrap -->


<!-- Divider 1 Section -->
<div id="divider01">
  <div class="container">
    <div class="row text-center">
      <div id="carousel-example-generic" class="carousel slide">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <h3>"By far, Quote Manager is the easiest way to organize my leads to ramp up sales."</h3>
            <h4>David Chun, <em>-Founder <a href="http://boopis.com" target="_blank" style="color:white;">Boopis Media</a></em></h4>
          </div>
          <div class="item">
            <h3>"QuoteManager has helped my team build amazing products. Amazing team."</h3>
            <h4>Jane Doe, <em>A Company</em></h4>
          </div>
        </div><!-- /carousel-inner -->
        <br>
        <br>
        <br>
        <!-- Indicators - Uncomment for indicators to show
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol> -->
      </div><!-- /carousel-example -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /divider01 -->


<!-- Pricing Section -->
<section id="pricing" name="pricing"></section>
<div id="pricingwrap">
  <div class="container text-center">
    <br>
    <h2>Our Pricing Options</h2>
    <hr><br><br>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="panel panel-custom">
          <div class="panel-heading">
            <h3 class="panel-title">Individual</h3>
          </div>
          <div class="panel-body">
            <div class="the-price">
              <h2>$19<span class="subscript">/mo</span></h2>
              <small>14 days FREE Trial</small>
            </div>
            <table class="table">
              <tr>
                <td>1 User</td>
              </tr>
              <tr>
                <td>5 Forms</td>
              </tr>
              <tr>
                <td>100MB Storage</td>
              </tr>
              <tr>
                <td>500 Requests/mo</td>
              </tr>
            </table>
          </div>
          <div class="panel-footer">
            <a href="/accounts/new/?plan_id=1" class="btn btn-theme" role="button">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="panel panel-custom">
          <div class="panel-heading">
            <h3 class="panel-title">Small Business</h3>
          </div>
          <div class="panel-body">
            <div class="the-price">
              <h2>$49<span class="subscript">/mo</span></h2>
              <small>14 days FREE Trial</small>
            </div>
            <table class="table">
              <tr>
                <td>3 Users</td>
              </tr>
              <tr>
                <td>10 Forms</td>
              </tr>
              <tr>
                <td>1GB Storage</td>
              </tr>
              <tr>
                <td>1500 Requests/mo</td>
              </tr>
            </table>
          </div>
          <div class="panel-footer">
            <a href="/accounts/new/?plan_id=2" class="btn btn-theme" role="button">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="panel panel-custom">
          <div class="panel-heading">
            <h3 class="panel-title">Premium Business</h3>
          </div>
          <div class="panel-body">
          <div class="the-price">
            <h2>$99<span class="subscript">/mo</span></h2>
            <small>14 days FREE Trial</small>
          </div>
          <table class="table">
            <tr>
              <td>5 Users</td>
            </tr>
            <tr>
              <td>20 Forms</td>
            </tr>
            <tr>
              <td>5GB Storage</td>
            </tr>
            <tr>
              <td>5000 Requests/mo</td>
            </tr>
          </table>
          </div>
          <div class="panel-footer">
            <a href="/accounts/new/?plan_id=3" class="btn btn-theme" role="button">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="panel panel-custom">
          <div class="panel-heading">
            <h3 class="panel-title">Enterprise</h3>
          </div>
          <div class="panel-body">
            <div class="the-price">
              <h2>Call Us!<span class="subscript"></span></h2>
              <small>Customisations</small>
            </div>
            <table class="table">
              <tr>
                <td>Subdomain</td>
              </tr>
              <tr>
                <td>Private Database</td>
              </tr>
              <tr>
                <td>Scalable Storage</td>
              </tr>
              <tr>
                <td>Unlimited Users</td>
              </tr>
            </table>
          </div>
          <div class="panel-footer">
            <a href="#contact" class="btn btn-theme smoothScroll" role="button">Contact Us!</a>
          </div>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /pricingwrap -->
  
<!-- Footer Wrap -->
<section id="contact" name="contact"></section>
<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <h2 class="text-center" style="color:white;">Contact Us</h2>
        <hr>
        <br>
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            <% if @form.nil? %>
              <form action="/requests" method="post">
                <input id="request_form_id" name="request[form_id]" type="hidden" value="1">
                <input id="request_fields_1425392839536_label" name="request[fields][1425392839536][label]" type="hidden" value="Email">
                <input id="request_fields_1425392839536_type" name="request[fields][1425392839536][type]" type="hidden" value="email">
                <div class="form-group">
                  <label for="email" style="color:white;">Email</label>
                  <input type="email" class="form-control" id="email" name="request[fields][1425392839536][request]"placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="message" style="color:white;">Message</label>
                  <input id="request_fields_1425392854989_label" name="request[fields][1425392854989][label]" type="hidden" value="Message">
                  <input id="request_fields_1425392854989_type" name="request[fields][1425392854989][type]" type="hidden" value="text">
                  <textarea class="form-control" rows="7" name="request[fields][1425392854989][request]" placeholder="Please send us a detailed message"></textarea>
                </div>
                <br>
                <div class="form-group">
                  <button type="submit" class="btn btn-theme btn-lg btn-block">Send!</button>
                </div>
              </form>
            <% else %>
              <%= form_for @request do |f| %>
                <%= f.hidden_field :form_id, value: @form.id %>
                <% @form.fields.each do |id, field| %>
                  <%= f.fields_for :fields, OpenStruct.new(field), index: id do |rf| %>
                    <% case field['type'] %>
                      <% when 'email' %>
                        <div class="form-group">
                          <%= rf.label field['label'], class: "#{field['validate']['validates_presence_of'] == "1" ? "required" : ""}" %>
                          <%= rf.hidden_field :label, value: field['label'] %>
                          <%= rf.hidden_field :type, value: field['type'] %>
                          <%= rf.email_field :request, class: "form-control", placeholder: 'Enter your email' %>
                        </div>
                      <% when 'paragraph' %>
                        <div class="form-group">
                          <%= rf.label field['label'], class: "#{field['validate']['validates_presence_of'] == "1" ? "required" : ""}" %>
                          <%= rf.hidden_field :label, value: field['label'] %>
                          <%= rf.hidden_field :type, value: field['type'] %>
                          <%= rf.text_area :request, class: "form-control welcome", placeholder: 'Please send us a detailed message' %>
                        </div>
                    <% end %><!-- end case -->
                  <% end %><!-- end fields_for -->
                <% end %><!-- end form.fields.each -->

                <div class="actions">
                  <%= f.submit "Submit", class: "btn btn-success" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /footerwrap -->

<!-- Copyright Wrap -->
<div id="copywrap">
  <div class="container">
    <div class="row">
        <p class="text-center">Copyright &copy;2015 QuoteManager. All Rights Reserved.</p>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /copywrap (copyright) -->
