<div class="main-box clearfix">
  <div class="clearfix">
    <h2 class="pull-left">Requests</h2>

    <% if params[:q].present? && params[:q][:form_id_eq].present? %>
      <div class="request-search-form pull-right">
        <%= search_form_for @q, html: {class: "form-inline"} do |f| %>    
          <%= f.hidden_field :form_id_eq, value: params[:q][:form_id_eq] %>
          <div class="form-group">
            <%= f.select :key, options_for_select(Form.find(params[:q][:form_id_eq]).fields.map{|k,v|[v['label'],k]}, params[:q][:key]), {:include_blank => 'select field'}, class: "form-control" %>        
          </div>
          <div class="form-group">
            <%= f.text_field :term, value: params[:q][:term], :placeholder => 'Search...', class: "form-control input-sm w-100" %>
          </div>
          <%= f.submit "Search", class: "btn btn-info btn-sm" %>
          <%= link_to "Clear", request.path, class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
    <% end %>

    <div class="dropdown pull-right daterange-filter">
      <a role="button" data-toggle="dropdown">
        <span>Request Type</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% Form.all.each do |form| %>
          <li>
            <%= link_to form.name, requests_path(resource, :'q[form_id_eq]' => form.id) %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <% if params[:q].present? && params[:q][:form_id_eq].present? %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% @header.fields.each do |id, field| %>
              <th><span><%= field['label'] %></span></th>
            <% end %>
            <th class="text-center"><span>Status</span></th>
            <th class="col-md-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <tr>
              <% @header.fields.each do |id, field| %>
                <% if request.fields[id] %>
                  <% if request.fields[id]['request'].kind_of?(Array) %>
                    <td><%= request.fields[id]['request'].join(",") %></td>
                  <% else %>
                    <td><%= request.fields[id]['request'] %></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td class="text-center">
                <span class="label label-primary">Pending</span>
              </td>
              <td style="width: 15%;">
                <%= link_to request, class: "table-link" do %>
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
                <%= link_to new_quote_path(request_id: request.id), class: "table-link" do %>
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
                <%= link_to request, method: :delete, data: { confirm: 'Are you sure?' }, class: "table-link danger" do %>
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <ul class="pagination pull-right">
      <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
    </ul>

  <% else %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= sort_link @q, :id, "<span>ID</span>".html_safe %></th>
            <th class="text-center"><span>Summary</span></th>
            <th class="text-center"><span>Form</span></th>
            <th><%= sort_link @q, :created_at, "<span>Created</span>".html_safe %></th>
            <th class="text-center"><span>Status</span></th>
            <th class="col-md-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <tr>
              <td><%= request.id %></td>
              <td>
                <%= request.fields.map{|id, field| "<i class='fa fa-angle-double-right'></i><b> #{field['label']}</b>: #{field['request']}"}.join(" ").html_safe %>
              </td>
              <td><%= request.form.name if request.form.present? %></td>
              <td><%= request.created_at.strftime("%b-%d-%Y")  %></td>
              <td class="text-center">
                <span class="label label-primary">Pending</span>
              </td>
              <td style="width: 15%;">
                <%= link_to request, class: "table-link" do %>
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
                <%= link_to new_quote_path(request_id: request.id), class: "table-link" do %>
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
                <%= link_to request, method: :delete, data: { confirm: 'Are you sure?' }, class: "table-link danger" do %>
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <% end %>

</div>