<% content_for :page_script do %>
  <%= javascript_include_tag "requests" %>
<% end %>

<div class="row"> 
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-box">
    <% if @request.form.present? %>
      <h2>Request Details for <%= @request.form.name %></h2>
    <% else %>
      <h2>Request Details</h2>
    <% end %>
      <dl class="dl-horizontal">
        <% @request.fields.each do |id, field| %>
          <dt><%= field['label'] %></dt>
          <% if field['request'].kind_of?(Array) %>
            <dd><%= field['request'].join(",") %></dd>
          <% else %>
            <% if field['type'] == 'file' %>
              <dd><%= link_to 'Open file', request_download_path(@request.id, id) %></dd>
            <% else %>
              <dd><%= field['request'] %></dd>
            <% end %>
          <% end %>
        <% end %>
      </dl> 
    </div>
  </div> 
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-box">
      <h2>Request Analytics</h2>
      <p>
        <span>IP address: </span>
        <%= content_tag :b, @request.remote_ip %>
      </p>
      <p>
        <span>Language: </span>
        <%= content_tag :b, @request.language.capitalize %>
      </p>
      <p>
        <span>Traffic source / Referrer: </span>
        <%= link_to @request.referrer, @request.referrer, target: '_blank' %>
      </p>
      <p>
        <span>Operating system: </span>
        <%= content_tag :b, @request.os.capitalize %>
      </p>
      <p>
        <span>Browser: </span>
        <%= content_tag :b, @request.browser.capitalize %>
      </p>
      <p>
        <span>Display amount of time it took to complete form: </span>
        <%= content_tag :b, @request.time_to_complete_form %>
      </p>
      <p>Display Country / Territory</p> 
      <p>Display unique or returning</p> 
    </div>
  </div>  
</div>
