<% content_for :page_script do %>
  <%= javascript_include_tag "contacts" %>
<% end %>

<div class="main-box clearfix">
  <div class="clearfix">
    <h2 class="pull-left">Contacts</h2>

    <div class="filter-block pull-right">

      <%= search_form_for @q, html: {class: "pull-left"} do |f| %>
               
        <div class="form-group">
          <%= f.text_field :name_cont, :placeholder => 'Search...', class: "form-control" %>
          <%= content_tag(:i, class: "fa fa-search search-icon") do %>        
            <%= f.submit "", style: "display:none" %>
          <% end %>
        </div>

      <% end %>

      <%= link_to new_contact_path, class: "btn btn-primary pull-right" do %>
        <i class="fa fa-plus-circle fa-lg"></i> New Contact
      <% end %>


    </div>

  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= sort_link @q, :name, "<span>Name</span>".html_safe %></th>
          <th><span>Avatar</span></th>
          <th><span>Phone</span></th>
          <th><span>E-Mail</span></th>
          <th class="text-center"><span>Requests</span></th>
          <th class="text-center"><a href="#" class="desc"><span>Date updated</span></a></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= image_tag contact.load_image('no-avatar'), size: '35' %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
          <td class="text-center"><%= contact.requests.count %></td>
          <td class="text-center">
            <%= contact.updated_at.strftime("%b-%d-%Y") %>
          </td>
          <td style="width: 15%;">
            <%= link_to contact, title: "Show Contact", class: "table-link" do %>
              <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
            <%= link_to edit_contact_path(contact), title: "Edit Contact", class: "table-link" do %>
              <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>              
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @contacts, :pagination_class => "pull-right" %>

</div>
