<% content_for :page_script do %>
  <%= javascript_include_tag "contacts/index" %>
<% end %>

<div class="row" id="user-profile">
  <div class="col-lg-3 col-md-4 col-sm-4">
    <div class="main-box clearfix">
      <h2><%= @contact.try(:name) %></h2>

      <div class="profile-img img-responsive center-block"> 
          <%= image_tag @contact.load_image('no-avatar.jpg'), class: "profile-img img-responsive center-block", size: "169" %>
      </div>

      <div class="profile-label">
      </div>

      <div class="profile-since">
        Added Time: <%= @contact.created_at.strftime("%b %d, %Y") %>
      </div>

      <div class="profile-details">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-question-circle"></i>Requests: <span><%= @no_requests %></span></li>
          <li><i class="fa-li fa fa-comment"></i>Quotes: <span><%= @no_quotes %></span></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="col-lg-9 col-md-8 col-sm-8">
    <div class="main-box clearfix">
      <div class="profile-header">
        <h3><span>Personal Bio</span></h3>
        <% if can? :update, @contact %>
          <%= link_to edit_contact_path(@contact), class: "btn btn-primary edit-profile" do %>
            <i class="fa fa-pencil-square fa-lg"></i> 
            Edit Contact
          <% end %>
        <% end %>
      </div>

      <%= content_tag :p, @contact.description %>

      <h3><span>User info</span></h3>

      <div class="row profile-user-info">
        <div class="col-sm-8">
          <div class="profile-user-details clearfix">
            <div class="profile-user-details-label">
              Contact Name
            </div>
            <div class="profile-user-details-value">
              <%= @contact.try(:name) %>
            </div>
          </div>
          <div class="profile-user-details clearfix">
            <div class="profile-user-details-label">
              Address line 1
            </div>
            <div class="profile-user-details-value">
              <%= @contact.address.try(:address_line_1) %>
            </div>
          </div>
          <div class="profile-user-details clearfix">
            <div class="profile-user-details-label">
              Address line 2
            </div>
            <div class="profile-user-details-value">
              <%= @contact.address.try(:address_line_2) %>
            </div>
          </div>
          <div class="profile-user-details clearfix">
            <div class="profile-user-details-label">
              City
            </div>
            <div class="profile-user-details-value">
              <%= @contact.address.try(:city) %>
            </div>
          </div>
          <div class="profile-user-details clearfix">
            <div class="profile-user-details-label">
              Postal Code
            </div>
            <div class="profile-user-details-value">
              <%= @contact.address.try(:postal_code) %>
            </div>
          </div>
          <div class="profile-user-details clearfix">
            <div class="profile-user-details-label">
              Email
            </div>
            <div class="profile-user-details-value">
              <%= @contact.email %>
            </div>
          </div>
          <div class="profile-user-details clearfix">
            <div class="profile-user-details-label">
              Phone number
            </div>
            <div class="profile-user-details-value">
              <%= @contact.try(:phone) %>
            </div>
          </div>
        </div>
        <div class="col-sm-4 profile-social">
          <ul class="fa-ul">
            <% unless @contact.social_media.nil? %>
              <% @contact.social_media.each do |k, v| %>
                <li>
                  <%= content_tag :i, '', class: 'fa fa-' + k + '-square' %>
                  <%= link_to JSON.parse(v.gsub('=>', ':'))['user'], JSON.parse(v.gsub('=>', ':'))['url'], target: '_blank' %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <h3><span>Note</span></h3>
      <% unless @contact.note.try(:title).nil? %>
        <%= content_tag :strong, @contact.note.try(:title) + '- ' %>
        <%= content_tag :span, @contact.note.try(:content) %>
      <% end %>

      <div class="tabs-wrapper profile-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-activity" data-toggle="tab">Activity</a></li>
          <li><a href="#tab-requests" data-toggle="tab">Requests</a></li>
          <li><a href="#tab-quotes" data-toggle="tab">Quotes</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab-activity">

            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <i class="fa fa-truck"></i>
                    </td>
                    <td>
                      David has changed <a href="#">request</a> status to <span class="label label-primary">Pending</span>
                      to <span class="label label-success">Complete</span>
                    </td>
                    <td>
                      2014/08/08 12:08
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="tab-pane fade" id="tab-requests">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Request ID</th>
                    <th>Fields</th>
                  </tr>
                </thead>
                <tbody>
                  <% @requests.last(10).each do |r| %>
                    <tr>
                      <td><%= r.id %></td>
                      <td>
                        <% r.fields.map do |id, field| %>
                          <i class='fa fa-angle-double-right'></i>
                          <%= content_tag :b, field['label'] + ':' %>
                          <%= content_tag :b, field['request'] %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

          </div>

          <div class="tab-pane fade" id="tab-quotes">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Base Amount</th>
                    <th>Options</th>
                    <th>Status</th>
                    <th>Created At</th>
                  </tr>
                </thead>
                <tbody>
                  <% @quotes.last(10).each do |q| %>
                    <tr>
                      <td><%= q.amount %></td>
                      <td>
                        <% if q.options.present? %>
                          <% q.options.each do |id, option| %>
                            <%= option['amount'] %>: <%= option['description'] %><br>
                          <% end %>
                        <% end %>
                      </td>
                      <td>
                        <%= content_tag :label, q.status, :class => 'label label-primary' %>
                      </td>
                      <td>
                        <%= q.created_at.strftime("%b-%d-%Y") %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
