<%= content_tag(:div, :class => 'form-field', :'data-id' => id) do %>
  <% if defined? field %>
    <%= render 'hidden_option', f: f, field: field, type: 'checkbox' %>
  <% else %>
    <%= render 'hidden_option', f: f, field: {}, type: 'checkbox' %>
  <% end %>

  <div class="form-group">
    <%= f.label :label, class: "sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-check-square"></i>
      </span>
      <%= f.text_field :label, class: "form-control", placeholder: "Checkbox Group Name" %>
    </div>
    <div class="rr">
      <%= link_to '#', class: 'remove_fields' do %>
        <%= content_tag(:i, "remove", class: "fa fa-minus-circle") %>
      <% end %>
    </div>
  </div>

  <div class="option-fields">
    <% if defined?(options) && options %>
      <% options.each do |option| %>
        <%= f.fields_for :options, OpenStruct.new(option), index: "" do |builder| %>
          <%= render 'option', f: builder %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to_add_options "option", f, :options %><br>
  </div>

<% end %>
