<%= content_tag(:div, :class => 'form-field', :'data-id' => id) do %>
  <% if defined? field %>
    <%= render 'hidden_option', f: f, field: field, type: 'email' %>
  <% else %>
    <%= render 'hidden_option', f: f, field: {}, type: 'email' %>
  <% end %>

  <div class="form-group">
    <% if defined? field %>
      <%= f.label field['label'] %>
      <div class="input-group">
      <%= text_field_tag field['label'], nil, class: "form-control", placeholder: "#{field['placeholder']}" %>
    <% else %>
      <%= f.label '' %>
      <div class="input-group">
      <%= text_field_tag '', nil, class: "form-control", placeholder: "Enter your email" %>
    <% end %>
    <%= link_to '#', class: 'remove_fields', id: 'contact-email' do %>
      <%= content_tag(:i, "", class: "fa fa-minus-circle") %>
    <% end %>
    </div>
  </div>

<% end %>
