<%= content_tag(:div, :class => 'form-field', :'data-id' => id) do %>
  <% if defined? field %>
    <%= render 'hidden_option', f: f, field: field, type: 'file' %>
  <% else %>
    <%= render 'hidden_option', f: f, field: {}, type: 'file' %>
  <% end %>

  <div class="form-group">
    <% if defined? field %>
      <%= f.label field['label'] %>
      <div class="input-group">
      <%= file_field_tag field['label'] %>
    <% else %>
      <%= f.label '' %>
      <div class="input-group">
      <%= file_field_tag '' %>
    <% end %>
    <%= render 'forms/remove' %>
    </div>
  </div>

<% end %>
