<div class="container clearfix">
  <div class="row formbuilder">

    <%= form_for @form, html: { class: "form-inline builder" } do |f| %>
      <% if @form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

          <ul>
          <% @form.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 main pull-right">
        <div class="main-box">

          <div class="added-fields">

            <div class="form-group">
             <%= f.label :name, "Form Name", class: "sr-only" %>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-file-o"></i>
                </span>
                <%= f.text_field :name, class: "form-control", placeholder: "Form Name" %>
              </div>
            </div>

            <div class="form-field-list">

              <% if @form.fields? %>
                <% @form.fields.each do |id, field| %>
                  <%= f.fields_for :fields, OpenStruct.new(field), index: id do |field_type| %>
                  <%= render field['type'], f: field_type, options: field['options'] %>
                  <% end %>
                <% end %>
              <% end %>

              <div class="form-field"></div>

            </div>

            <div class="actions">
              <%= f.submit class: "btn btn-success" %>
            </div>

          </div>

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 side pull-left">
        <div class="main-box">
          <h2>Contact Fields</h2>
          <div class="list-group">
            <%= link_to_add_contact_fields "Name", "forms/contact/name", "contact-name", "fa fa-user", f, :fields %>
            <%= link_to_add_contact_fields "Phone", "forms/contact/phone", "contact-phone", "fa fa-phone", f, :fields %>
            <%= link_to_add_contact_fields "Email", "forms/contact/email", "contact-email", "fa fa-envelope", f, :fields %>
          </div>
          <h2>Custom Fields</h2>
          <div class="list-group">
            <%= link_to_add_fields "Text Field", "text", "fa fa-pencil", f, :fields %>
            <%= link_to_add_fields "Paragraph", "paragraph", "fa fa-edit", f, :fields %>
            <%= link_to_add_fields "Radio", "radio", "fa fa-check-circle", f, :fields %>
            <%= link_to_add_fields "Select", "select", "fa fa-bars", f, :fields %>
            <%= link_to_add_fields "Check Box", "check_box", "fa fa-check-square", f, :fields %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>

