<%= content_tag(:div, :class => 'form-field', :'data-id' => id) do %>
  <% if defined? field %>
    <%= render 'hidden_option', f: f, field: field, type: 'inpage' %>
  <% else %>
    <%= render 'hidden_option', f: f, field: {}, type: 'inpage' %>
  <% end %>

  <div class="form-group">
    <% if defined? field %>
      <%= f.label field['label'] %>
      <div class="input-group">
      <%= content_tag :span, 'Inpage field' %>
    <% else %>
      <%= f.label '' %>
      <div class="input-group">
      <%= content_tag :span, 'Inpage field' %>
    <% end %>
    <%= link_to '#', class: 'remove_fields', id: 'contact-email' do %>
      <%= content_tag(:i, "", class: "fa fa-minus-circle") %>
    <% end %>
    </div>
    <%= content_tag(:i, "", class: "fa fa-eye-slash invisible-icon") %>
  </div>

<% end %>
