<%= content_tag(:div, :class => 'form-field', :'data-id' => id) do %>
  <% if defined? field %>
    <%= render 'hidden_option', f: f, field: field, type: 'inpage' %>
  <% else %>
    <%= render 'hidden_option', f: f, field: {}, type: 'inpage' %>
  <% end %>


  <div class="form-group">
    <%= f.label :label, class: "sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-tag"></i>
      </span>
      <%= f.text_field :label, class: "form-control", placeholder: "In-Page field name" %>
      <%= f.text_field :id_class, class: "form-control", placeholder: "Product option / id / class" %>
    </div>
    <div class="rr">
      <%= link_to '#', class: 'remove_fields' do %>
        <%= content_tag(:i, "remove", class: "fa fa-minus-circle") %>
      <% end %>
    </div>
  </div>

<% end %>
