<%= content_tag(:div, :class => 'form-field', :'data-id' => id) do %>
  <% if defined? field %>
    <%= render 'hidden_option', f: f, field: field, type: 'name' %>
  <% else %>
    <%= render 'hidden_option', f: f, field: {}, type: 'name' %>
  <% end %>
 
  <div class="form-group">
    <% if defined? field %>
      <%= f.label field['label'], :class => "#{field['validate']['validates_presence_of'] == '1' ? 'required' : ''}" %>
      <div class="input-group">
      <%= text_field_tag field['label'], nil, class: "form-control", placeholder: "#{field['placeholder']}" %>
    <% else %>
      <%= f.label '' %>
      <div class="input-group">
      <%= text_field_tag '', nil, class: "form-control", placeholder: "Enter your name" %>
    <% end %>
    <%= render 'forms/remove' %>
    </div>
  </div>

<% end %>
