<div class="form-field">
  <%= f.hidden_field :type, value: 'name' %>

  <div class="form-group">
    <%= f.label :label, class: "sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-user"></i>
      </span>
      <%= f.text_field :label, class: "form-control", placeholder: "Name Field Label" %>
    </div>
    <div class="rr">
      <% if defined?(required) && required == '1'%>
        <%= f.check_box("validate[validates_presence_of]", :checked => 'checked') %> 
      <% else %>
        <%= f.check_box("validate[validates_presence_of]") %> 
      <% end %>
      <%= f.label 'required?' %>

      <%= link_to '#', class: 'remove_contact_fields', id: 'contact-name' do %>
        <%= content_tag(:i, "remove", class: "fa fa-minus-circle") %>
      <% end %>
    </div>
  </div>

</div>
