<div class="form-field">
  <%= f.hidden_field :type, value: 'phone' %>

  <div class="form-group">
    <%= f.label :label, class: "sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-phone"></i>
      </span>
      <%= f.text_field :label, class: "form-control", placeholder: "Phone Field Label" %>
    </div>
    <div class="rr">
      <%= f.check_box "validate[validates_presence_of]" %> <%= f.label 'required?' %>
      <%= link_to '#', class: 'remove_contact_fields', id: 'contact-phone' do %>
        <%= content_tag(:i, "remove", class: "fa fa-minus-circle") %>
      <% end %>
    </div>
  </div>

</div>
