<%= content_tag(:div, :class => 'form-field', :'data-id' => id) do %>
  <% if defined? field %>
    <%= render 'hidden_option', f: f, field: field, type: 'radio' %>
  <% else %>
    <%= render 'hidden_option', f: f, field: {}, type: 'radio' %>
  <% end %>

  <div class="form-group">
    <% if defined? field %>
      <%= f.label field['label'], :class => "#{field['validate']['validates_presence_of'] == '1' ? 'required' : ''}" %>
    <% else %>
      <%= f.label '' %>
    <% end %>
    <div class="input-group">
      <% if defined? options %>
        <% JSON.parse(options).each do |option| %>
          <%= content_tag :span, option.values[0] + " " %>
          <%= radio_button_tag option.keys[0], option.values[0], false %>
        <% end %>
      <% end %>
    </div>
    <%= render 'forms/remove' %>
  </div>
<% end %>
