<%= content_tag(:div, :class => 'form-field', :'data-id' => id) do %>
  <% if defined? field %>
    <%= render 'hidden_option', f: f, field: field, type: 'select' %>
  <% else %>
    <%= render 'hidden_option', f: f, field: {}, type: 'select' %>
  <% end %>

  <div class="form-group">
    <% if defined? field %>
      <%= f.label field['label'] %>
    <% else %>
      <%= f.label '' %>
    <% end %>
    <div class="input-group">
      <% if defined? options %>
        <%= select_tag :select_field, options_for_select(JSON.parse(options).collect {|op| [op.values[0], op.values[0]] })%>
      <% end %>
    </div>
    <%= link_to '#', class: 'remove_fields' do %>
      <%= content_tag(:i, "", class: "fa fa-minus-circle") %>
    <% end %>
  </div>

<% end %>
