<% @forms.each do |form| %>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box">

      <span class="name"><%= form.name %></span>
        <% form.fields.each do |id, field| %>
          <span class="left"><%= field['label'] %></span>
          <span class="right"><%= field['type'] %></span>
          <div class="clearfix"></div>
        <% end %>
      <div class="row">
        <div class="col-md-4">
          <%= link_to form, class: "nounderline" do %>
            <i class="fa fa-search-plus blue"></i>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to edit_form_path(form), class: "nounderline" do %>
            <i class="fa fa-pencil red"></i>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to requests_path(form_id: form.id), class: "nounderline" do %>
            <i class="fa fa-reply green"></i>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>
