<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url(subdomain: false), class: 'navbar-brand' do %>
        <licon class="li_bubble"></licon> <b>QuoteManager</b>
      <% end %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav cl-effect-13">
        <li><%= link_to "Features", root_url(subdomain: false, anchor: "features"), class: "smoothScroll" %></li>
        <li><%= link_to "Pricing", root_url(subdomain: false, anchor: "pricing"), class: "smoothScroll" %></li>
        <li><%= link_to "Contact", root_url(subdomain: false, anchor: "contact"), class: "smoothScroll" %></li>
      </ul>

      <!-- Sign In / Sign Up -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-lock"></i>Sign In
          <% end %>
        </li>
        <li>
          <%= link_to "Free Trial", new_account_url(subdomain: false), class: "smoothScroll btn btn-sm btn-theme pad" %>
        </li>
      </ul>
    </div><!--/nav-collapse -->
  </div><!-- /container -->
</div><!-- /fixed-navbar -->

