 <div class="sidebar transition" id="nav-col">
  <section id="col-left">
    <div id="sidebar-nav"> 
      <ul class="nav nav-pills nav-stacked">
        <%= sidebar_nav(root_path, "Dashboard", "fa fa-dashboard") %>
        <%= sidebar_nav(forms_path, "Forms", "fa fa-edit") %>
        <%= sidebar_nav(requests_path, "Requests", "fa fa-question-circle") %>
        <%= sidebar_nav(quotes_path, "Quotes", "fa fa-comments") %>
        <%= submenu_nav("#", "Contacts", "fa fa-users", 'contacts', {'All Contacts' => contacts_path, 'New Contact' => new_contact_path}) %>
        <%= sidebar_nav(templates_path, "Templates", "fa fa-list-alt") %>
      </ul>
    </div>
  </section>
</div>
