<!DOCTYPE html>
<html>
<head>
  <title>QuoteManager</title>

  <% if params[:controller] == "accounts" %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
    </script>
  <% end %>

  <%= yield :extended_css %>
  <% if user_signed_in? %>
    <%= stylesheet_link_tag    'admin' %>
    <%= javascript_include_tag 'application' %>
  <% else %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'dashboard' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

<% if user_signed_in? %>
  <%= render 'layouts/user_header' %>
  <div class="container fill">
    <div class="row fill">
      <%= render 'layouts/user_sidebar' %>

      <div class="col-md-10" id="content-wrapper">
        <div class="row">
          <div class="col-lg-12">

            <%= admin_messages %>
            <%= yield %>

          </div>
        </div>
      </div>

    </div>
  </div>
<% else %>  
  <% if params[:token].nil? %>
    <%= render 'layouts/guest_header' %>
  <% end %>
  <%= yield %>
<% end %>

</body>
</html>
