<!DOCTYPE html>
<html>
<head>
  <title>QuoteManager</title>
  <% if user_signed_in? %>
    <%= stylesheet_link_tag    'admin' %>
  <% else %>
    <%= stylesheet_link_tag    'application' %>
  <% end %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

<% if user_signed_in? %>
  <%= render 'layouts/user_header' %>
<% else %>  
  <%= render 'layouts/guest_header' %>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
