<div class="col-sm-6 col-sm-offset-3 signin">
  <h2>Create an Account</h2>
  
  <%= flash_messages layout_flash: false %>

  <%= simple_form_for @account do |f| %>
    <%= f.input :company_name, label: false do %>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-home"></span>
      <%= f.input_field :company_name, class: 'form-control', placeholder: 'Company Name' %>
    </div>
    <% end %>
    <%= f.fields_for :users do |o| %>
      <%= o.input :firstname, label: false do %>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-user"></span>
          <%= o.input_field :firstname, class: 'form-control', placeholder: 'First Name' %>
          <%= o.input_field :lastname, class: 'form-control', placeholder: 'Last Name' %>
        </div>
      <% end %>
      <%= o.input :email, label: false do %>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-envelope"></span>
          <%= o.input_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
      <% end %>
      <%= o.input :password, label: false do %>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-lock"></span>
          <%= o.input_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
      <% end %>

      <%= o.input :password_confirmation, label: false do %>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-ok"></span>
          <%= o.input_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
        </div>
      <% end %>
    <% end %>

    <%= f.button :submit, class: 'btn btn-theme btn-block' %>
  <% end %>
</div>
